body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7fafa;
    color: #333;
}

header {
    background-color: #3a8d8f;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #2e6d6e;
}

nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    display: block;
}

nav a:hover {
    background-color: #245354;
}

.hero {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px rgba(0,0,0,0.6);
    font-size: 2rem;
    text-align: center;
    
}
    section {
      padding: 40px 20px;
      max-width: 1000px;
      margin: auto;
}
    .services {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    text-align: center;
}

.card h3 {
    margin-top: 10px;
}

footer {
    background: #3a8d8f;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}
    button, input, textarea {
    background: #3a8d8f;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    font-size: 1rem;
}

button:hover, input[type=submit]:hover {
    background: #2e6d6e;
    cursor: pointer;
}

form {
    display: grid;
    gap: 15px;
    margin-top: 20px;
}

input, textarea {
    background: #fff;
    color: #333;
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
    border-radius: 6px;
}

iframe {
    border: none;
    width: 100%;
    height: 300px;
    border-radius: 12px;
    margin-top: 20px;
}

button {
    margin-top: 20px;
}

.hero-slider {
    width: 100%;
    height: 100%;
    margin: auto;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    border-radius: 0
}

.hero-slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: opacity 1s;
    z-index: 1;
}

.hero-slider img.active {
    opacity: 1;
    z-index: 2;
}

.hero-text {
    position: absolute;
    top: 73%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.6);
    font-size: 2rem;
    text-align: center;
    z-index: 5;
    pointer-events: none;
}

.hero-dots {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    z-index: 10;
}

.hero-dots .dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #b2d8d8;
    opacity: 0.7;
    cursor: pointer;
    border: 2px solid #3a8d8f;
}

.hero-dots .dot.active {
    background: #3a8d8f;
    opacity: 1;
    border: 2px solid #245354;
}